{% layout "layout.liquid" %} {% block content %}

<article>
  {% for ryokan in ryokans %}
  <div class="container">
    <a href="/ryokans/{{ ryokan._id }}">
      <h2>
        {{ ryokan.name }}
      </h2>
      <img src="{{ ryokan.img[0] }}" alt="" />
    </a>
  </div>
  {% endfor %}
</article>

{% endblock %}
