{% layout "layout.liquid" %} {% block content %}
<div>
  <a href="/ryokans"><button>Home</button></a>
</div>
<div>
  <form action="/ryokans" method="GET">
    <input type="text" name="name" id="" placeholder="Search Ryokan" />
    <button>search</button>
  </form>
  {% if login %}
  <div>
    <a href="/user/logout"><button>Logout</button></a>
    <a href="/user/myaccount"><button>My Account</button></a>
  </div>
  {% else %}
  <a href="/user/signup"><button>Signup</button></a>
  <a href="/user/login"><button>Login</button></a>

  {% endif %}
  <div>
    <h5>Hello {{ username }}</h5>
  </div>
  {% for ryokan in ryokans %}
  <article>
    <div class="container">
      <a href="/ryokans/{{ ryokan._id }}">
        <h2>
          {{ ryokan.name }}
        </h2>
        <img src="{{ ryokan.img[0] }}" alt="" />
      </a>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
