html { 
    background: url('../photos/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
  }

  #mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

  h1,h2, h3, h4, h5, h6{
      color: white;
      font-weight: bolder;
  }
.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(59, 56, 55);
    border: none;
    margin: 0;
}
 #searchContainer {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
 }

 div {
     margin: 10px;
     
 }
 .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content:center;
 }

.button {
    background-color: rgb(132, 127, 127);
    color: white;
    border: none;
}
.contentContainer {
    background-color: rgb(132, 128, 127);
    color: white;
    border-radius: 3%;
    margin: 50px;
    padding: 25px;
}

#search {
    color:white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
fieldset {
    align-items: center;
}
article{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    min-width: 1100px;
}

.container {
    width: 45%;
    height: 450px;
}

img {
    width: 550px;
    height: 350px;
    border-radius: 5%;
}

.input {
    color: white;
}

#input {
    color: white;
}
/* for show page */
.reviewPhoto {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

#map {
    border-radius: 3%;
}


#ryokanPhotoContainer {
    width: 700px;
    height: 500px;
    overflow: hidden;
    }
    #ryokanPhoto {
    width: 2100px;
    animation: switch 5s ease-out infinite;
    }
    #ryokanPhoto > img {
    float: left;
    width: 700px;
    height: 500px;
    }
    @keyframes switch {
    0%, 25% {
    margin-left: 0;
    }
    35%, 60% {
    margin-left: -700px;
    }
    70%, 100% {
    margin-left: -1400px;
    }
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    }