{% layout "layout.liquid" %} {% block content %}
<div class="contentContainer">
  <form action="/user/signup" method="post">
    <fieldset>
      <h3>New User</h3>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label>EMAIL: <input type="email" name="email" required /> </label>
      <label
        >PASSWORD:
        <input
          type="password"
          name="password"
          placeholder="min 6 digits"
          required
        />
      </label>
      <div>
        <input type="submit" value="Create Account" />
      </div>
      <div>
        <a href="/user/login">Already have an account >></a>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
