{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/user/signup" method="post">
    <fieldset>
      <h3>New User</h3>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label>EMAIL: <input type="email" name="email" required /> </label>
      <label
        >PASSWORD: <input type="password" name="password" required />
      </label>
      <a href="/user/login">Already have an account >></a>
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}
